.cardstyle {
  border-radius: 100% !important;
  width: 120px !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -70px;
  border: 5px solid #e9ecef;
}

.navstyle {
  background-color: #323669;
  color: white;
}

.navimg {
  width: 3% !important;
  margin-left: 7%;
}

.nav-link {
  color: white !important;
}

.auto {
  position: absolute;
  right: 1%;
}

.btn-outline-secondary {
  color: white !important;
  background-color: #4e45bb !important;
}

.btn-secondary {
  background-color: #4e45bb !important ;
}

.navbar-brand {
  margin-left: 1%;
  margin-right: 7% !important;
  color: white !important;
}

.listgroup {
  padding: 0px !important;
}

.list-group-item {
  border: none !important;
  text-align: left !important;
}

.badge-secondary {
  background-color: #91cb4d !important;
  position: relative;
  float: right;
  margin-right: -20%;
}

.badge {
  font-size: 77% !important;
  font-weight: 500 !important;
  border-radius: 10rem !important;
  line-height: normal !important;
}

.details {
  text-align: left;
}

.image {
  border-radius: 100% !important;
  width: 100% !important;
}

.profile {
  border-radius: 1.5rem !important;
  margin-bottom: 8px !important;
}

.checklist {
  text-align: left !important;
  padding-top: 3px !important;
}

.filterbutton {
  margin: 5px;
  background-color: lightgray !important ;
  border: none !important;
  border-radius: 0rem !important;
  padding: 0.15rem 0.9rem !important;
  font-size: 10px !important;
}

.para {
  padding-top: 1rem !important;
  margin-bottom: 0rem !important;
  text-align: left;
  margin-left: 8px;
  font-size: 13px;
}

.filterbutton .btn {
  border-radius: 0rem !important;
}
